.myBG {
    height: 100vh;
    background: url(../assets/images/BG/BackGround_1.png);
    background-size: cover;
}

.intro{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.trending{
    height: auto;
    background: url(../assets/images/BG/BackGround_2.png);
    background-size: cover;
}

.Superhero{
    height: auto;
    background: url(../assets/images/BG/BackGround_3.png);
    background-size: cover;
}

.movieWraper{
}

.movieImage{
    height : auto;
    background-color: black;
    margin : 2px;
    padding : 2px;
}

.Images{
    height: 500px;
}